<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Choose 4-6 features</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" id="Feature1" name="Feature1" placeholder="Feature1 (Xi=...)" required="required" />
        <input type="text" id="Feature2" name="Feature2" placeholder="Feature2 (Xi=...)" required="required" />
		<input type="text" id="Feature3" name="Feature3" placeholder="Feature3 (Xi=...)" required="required" />
        <input type="text" id="Feature4" name="Feature4" placeholder="Feature4 (Xi=...)" required="required" />
        <input type="text" id="Feature5" name="Feature5" placeholder="Feature5 (Xi=...)" />
		<input type="text" id="Feature6" name="Feature6" placeholder="Feature6 (Xi=...)" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
     {{ result }}

 </div>


</body>
</html>
